{% extends 'base.html' %}



  {% block content %}   
    





</div class="container-fluid padding-80" >
<div class="row">
  
  <div class="col-sm-4">
    <div><br>
      <img src="/static/images/bendera.jpeg" alt="" width="300px" height="500px">
    </div> <br><br>  
    <div>
      <img src="/static/images/jumuiyatz.jpg" alt="" width="300px" height="300px">
    </div> 
  </div>

  <div class="col-sm-7">
  <div class="container-fluid">
    
        <div>
         
  <br>
  <h2><i>HISTORIA YA TWARIQATUL QADIRIYA</i></h2>
  <p> <b>Qadiriyya (Kiarabu: القادرية)</b> ni wafuasi wa tariqa ya Sunni Qadiri (utaratibu wa Sufi). Tariqa ilipata jina lake kutoka kwa <b>Abdul Qadir Gilani عبدالقادر گیلانی (RH) (470-561 AH / 1077-1166 CE)</b>, ambaye pia alitafsiriwa kuwa <b>Jilani</b>, ambaye alikuwa mwanachuoni wa Hanbali kutoka Gilan, Iran. Amri hiyo inategemea sana kuzingatia misingi ya sheria ya Kiislamu ya Sunni.</p>
  <p>Utaratibu huu, pamoja na matawi yake mengi, umeenea sana, hasa katika ulimwengu usiozungumza Kiarabu, na unaweza pia kupatikana katika Uturuki, Indonesia, Afghanistan, India, Bangladesh, Pakistan, Balkan, Urusi, Palestina, Uchina,Afrika Mashariki na Magharibi.</p><br>
    <p>Mwanzilishi wa Qadiriyya, <b>Abdul Qadir Gilani,</b> alikuwa mwanachuoni na mhubiri.[3] Akiwa mwanafunzi katika madrasa ya Abu Said al-Mubarak, alikua kiongozi wa shule hii baada ya kifo cha al-Mubarak mnamo 1119. Akiwa sheikh mpya, yeye na familia yake kubwa waliishi madrasa hadi kifo chake mnamo 1166. , wakati mtoto wake, Abdul Razzaq, alipomrithi baba yake kama sheikh. Abdul Razzaq alichapisha hagiografia ya baba yake, akisisitiza sifa yake kama mwanzilishi wa utaratibu tofauti na wa kifahari wa Sufi.</p>
         <p>Qadiriyya ilistawi, ikanusurika na ushindi wa Wamongolia wa Baghdad mnamo 1258, na ilibaki kuwa taasisi yenye ushawishi wa Sunni. Baada ya kuanguka kwa Ukhalifa wa Bani Abbas, ngano ya Gilani ilienezwa zaidi kwa maandishi yenye kichwa Furaha ya Siri katika matendo ya Ajabu ya Abdul-Qadir (Bahjat al-asrar fi ba'd manaqib 'Abd al-Qadir) iliyohusishwa na Nur al-Qadir. -Din 'Ali al-Shattanufi, ambaye alionyesha Gilani kama njia kuu ya neema ya Mungu na kusaidia amri ya Qadiri kuenea mbali zaidi ya eneo la Baghdad.</p>
         <p>Kufikia mwisho wa karne ya kumi na tano, Qadiriyya ilikuwa na matawi tofauti na ilikuwa imeenea hadi Moroko, Uhispania, Uturuki, India, Ethiopia, Somalia, na Mali ya leo. [4] Masheikh wa Kisufi walioanzishwa mara nyingi walifuata mila ya Qadiriyya bila kuacha uongozi wa jumuiya zao za mitaa. Wakati wa utawala wa nasaba ya Safavid huko Baghdad kuanzia mwaka 1508 hadi 1534, sheikh wa Qadiriyya aliteuliwa kuwa chifu Sufi wa Baghdad na nchi jirani. Muda mfupi baada ya Milki ya Ottoman kuiteka Baghdad mnamo 1534, Suleiman the Magnificent aliamuru jumba lijengwe kwenye kaburi la Abdul-Qadir Gilani, na kuanzisha Qadiriyya kama washirika wake wakuu nchini Iraq.</p> 
        <p>Khawaja Abdul-Allah, sheikh wa Qadiriyya na mjukuu wa nabii wa Kiislamu Muhammad, anaripotiwa kuingia China mwaka wa 1674 na kusafiri nchi nzima akihubiri hadi kifo chake mwaka wa 1689. [4] [5] Mmoja wa wanafunzi wa Abdul-Allah, Qi Jingyi Hilal al-Din, anasemekana kukita mizizi kabisa ya Usufi wa Qadiri nchini China. Alizikwa katika Jiji la Linxia, ​​ambalo lilikuja kuwa kitovu cha Qadiriyya nchini Uchina. [1] Kufikia karne ya kumi na saba Qadiriyya pia ilikuwa imefika katika maeneo ya Ulaya yaliyokaliwa na Uthmaniyya.</p>
        <p>Sultan Bahu alichangia kuenea kwa Qadiriyya magharibi mwa India. Mbinu yake ya kueneza mafundisho ya itikadi ya Kisufi ya Faqr ilikuwa kupitia nakala zake za Kipunjabi na maandishi mengine, ambayo yalifikia zaidi ya 140. maombi ya kupindukia au marefu lakini kwa upendo usio na ubinafsi uliochongwa katika maangamizo katika Mungu, ambayo aliiita fana.</p>
        <p>Sheikh Sidi Ahmad al-Bakka'i (kwa Kiarabu: الشيخ سيدي أحمد البكاي بودمعة wa familia ya Kunta, mzaliwa wa eneo la Noun river, d. 1504 huko Akka) alianzisha Qadiri zawiya (makazi ya Sufi) huko Walata. Katika karne ya kumi na sita familia ilienea katika Sahara hadi Timbuktu, Agades, Bornu, Hausaland, na maeneo mengine, na katika karne ya kumi na nane idadi kubwa ya Kunta ilihamia eneo la Niger ya kati ambako walianzisha kijiji cha Mabruk. Sidi Al-Mukhtar al-Kunti (1728–1811) aliunganisha vikundi vya Kunta kwa mazungumzo yenye mafanikio, na kuanzisha shirikisho kubwa. Chini ya ushawishi wake shule ya sheria ya Kiislamu ya Maliki ilitiwa nguvu tena na amri ya Qadiriyyah ikaenea kote Mauritania, eneo la Niger ya kati, Guinea, Ivory Coast, Futa Toro, na Futa Jallon. Makoloni ya Kunta katika eneo la Senegambia yakawa vituo vya mafundisho ya Kiislamu</p>
        <p>Sheikh Usman dan Fodio (1754-1817) kutoka Gobir alitangaza mafundisho ya Qadiri nchini Nigeria. Alikuwa ameelimishwa vyema katika sayansi ya kale ya Kiislamu, falsafa, na teolojia. Pia akawa mwanafikra wa kidini anayeheshimika. Mnamo 1789 maono yalimfanya aamini kwamba alikuwa na uwezo wa kufanya miujiza, na kufundisha wird yake mwenyewe ya fumbo, au litania. Vitabu vyake bado vinatumika sana na kusambazwa katika ulimwengu wa Kiislamu.[7] Dan Fodio baadaye alipata maono ya Abdul Qadir Gilani, mwanzilishi wa tariqa ya Qadiri, kupaa mbinguni, ambapo aliingizwa kwenye Qadiriyya na ukoo wa kiroho wa Muhammad. Maandishi yake ya kitheolojia yalishughulikia dhana za "mjadi mpya" na jukumu la Ulamaa katika kufundisha historia, na kazi zingine katika Kiarabu na lugha ya Fula.</p>           
 
          <br><br>



            <h2><i>HISTORIA YA TWARIQATUL QADIRIYA AFRIKA MASHARIKI</i></h2>
            <p>Shekh wa kwanza wa Twariqatul Qadiriya kufika Zanzibar ni <b>SHEKH HUSSEN BIN ABDALLAH L-MUIN</b>  R.A Bwana huyu alitokea <b>Baghdad IRAQ</b> na Mwalimu wake alikuwa ni <b>Shekh Sayyid MUHAMMAD</b> ambaye amepewa  Ijaza na <b>SAYYD MUSTWAFA BIN SALMAN L- QADIRY (R.A)<b></p>.<br>
            <p>Sheikh Husen alikuja Zanzibar kwa mualiko wa Sultwan Barghash na alikuja na Twariqatul Qadiriya pamoja na Maulid ya Hamzia.</p><br>
            <p>Shekh alipofika Unguja akaanza kusomesha Twariqa na akawa na wanafunzi wengi  miongoni mwao ni <b>Sheikh Ally bin Omar Shirazy, Shekh Nasib wa Bao</b> n.k.</p>
            <p> Sheikh alikuwa na matawi mengi  Zanzibar na nje ya Zanzibar. Mungu amlipe kwa kazi kubwa aliyoifanya kwa kufundisha dini.</p>
            <p>Baada ya kipindi kupita ukaja mualiko mwengine kutoka Somali alikuja <p>Shekh UWESU bin Muhammad (R.A)</p> naye alikuwa ni Shekh mkubwa sana na alikuwa ndio qutubul Qadiriya kwa zama zake.Alhamdulillah alipokewa uzuri na watu wakayatambua Maqam yake na akawapa Ijaza watu wengi sana. miongoni mwa wanafunzi wake ni Sheikh Shauri bin Haj wa donge, Sayyid Othman (Tunduni),Sayyd Omar Qulatain, Sheikh Zahor,Shekh Juma bin Haji, Sheikh Mjana Kher bin Abdul Kher, . na wengineo
          </p>
        </div>
        <br>
        
        
       
     
        <div>

        </div>
        <br>
            <div>
             
              <p>
              
              </p>
            <br>

            
            </div>
          </div>
       
</div>

{% endblock content %}
    






     