{% extends 'base.html' %}

{% block content %}
<div>
 <div class="container-fluid">
    <h1 style="text-align:center;font-size:70px"><b>سِلْسِلَةُ  الطرِيْقَةِ  الْقَادِرِيةِ  الأُوَيْسِيةِ</b></h1>
    <h2 style="text-align:center">هذِهِ سِلْسِلَةُ الطرِيْقَةِ الْقَادِرِيةِ الأُوَيْسِيةِ الْمُتَنَاوَلَةِ مِنْ سَيدِنَا مُحَمدٍ صَلى اللهُ عَلَىه وسلم عَنْ سَيدِنَا جِبْرَائِيْلَ عليه السلم عَنْ رَب الْعِزةِ جلاجلله وَقَالَ اللهُ تَبَارَكَ وَتَعَالَى  ; إِنَّ ٱلَّذِينَ يُبَايِعُونَكَ إِنَّمَا يُبَايِعُونَ ٱللَّهَ يَدُ ٱللَّهِ فَوْقَ أَيْدِيهِمْ  فَمَن نَّكَثَ فَإِنَّمَا يَنكُثُ عَلَىٰ نَفْسِهِ وَمَنْ أَوْفَىٰ بِمَا عَـٰهَدَ عَلَيْهُ ٱللَّهَ فَسَيُؤْتِيهِ أَجْرًا عَظِيمًۭا  ; فَالْوَاجِبُ عَلَى الْمُرِيْدِ أَنْ يَعْرِفَهَا إِذْ لاَ بُد لَهُ أَنْ يَعْرِفَ آبَاءَهُ فِيْ الطرِيْقِ التِيْ سَلَكَ عَلَيْهَا، وَأَنْ يَتْلُوَ الْفَاتِحَةَ  لَهمُْ كُل يَوْمٍ إِنْ أَمْكَنَ  </h2>
     <div class="righting"> 
        <h2 ><b>تَرْتِيْبُ الْفَاتِحَةِ</b></h2>
        <h2>١- يَقْرَأُ سُوْرَةَ الإِخْلاَصِ   (ثَلاَثًا)</h2>
        <h2 >٢- لآ إِ له إِلا الله   (عَشَرًا)</h2>
        <h2 >٣- صَلى اللهُ عَلَى سَيدِنَا مُحَمدٍ   (عَشَرًا)</h2>
        <h2>ثُم لِيَقُلْ  </h2>
     </div>

    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 30px">صَلى اللهُ عَلَىه وسلم</td>
            <td style="font-size: 30px">الْفَا تِحَةُ  إِ لَى  حَضْرَةِ   سَيدِنَا  محَُمدٍ </td>
          </tr>
           <tr>
            <td style="font-size: 30px">  كَرمَ اللهُ وَجْهَه</td>
            <td style="font-size: 30px"> ثُم إِلَى رُوْحِ سَيدِنَا عَلي بْنِ أَ بِيْ طَالِبٍ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه </td>
            <td style="font-size: 30px">  وَإِلَى سَيدِنَا الْحَسَنِ الْبِصْ رِي </td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا الْحَبِيْبِ الْعَجَمِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا دَاوْدَ الطا ئِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا مَعْرُوْفِ الْكَرَخِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا سِر السقْطِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَبِىْ القَاسِمِ جُنَيْدِ الْبَغدَادِي </td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَبِىْ بَكَرِ الشبلي </td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَ بِيْ الْفَاضِلِ عَبْدِ الْوَاحِدِ التمِيمِى</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَ بِيْ الْفَرَجِ الْطرْسُوْسِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أ بِىْ الْحَسَنِ الْهِكَارِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَبِىْ سَعِيْدِ الْمُبَارَكِ المَخْزُوْمِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px"> قَدسَ اللهُ سِرهُ الْعَزِيْزَ </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا عَبدِ الْقَ ادِرِ جَيلاَنِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا عَبدِ الْعَزِيْزِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا مُحَمدٍ الْهِتاكِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا شَمْسِ الديْنِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا شَرَفِ الديْنِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا زَيْنِ الديْنِ بْنِ شَرَفِ الديْنِ </td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا وَلِي الديْنِ بْنِ زَ يْنِ الديْنِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا يَحْيَ بْنِ نُوْرِ الديْنِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَبِىْ بَكَرٍ بْنِ يَحْيَ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا حِسَامِ الديْنِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا مُحَمدٍ دَرُوِ يْشِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا نوْرِ الديْنِ بْنِ مُحَمد</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا عَبْدِ الْوَهابِ بْنِ نُوْرِ الديْنِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا إِسْماعِيْلَ بْنِ عَبْدِ الْوَهابِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا أَ بِىْ بَكَرٍ بْنِ إِسْمَاعِيلَ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا عَبْدِ القَادِرِ الْقَادِرِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا عَلِي الْقَادِرِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا مُصْطَفَى بْنِ سَلْمَان الْقَادِرِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى الشيْخِ أُوَيْسِ بْنِ مُحَمد الْقَادِرِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى سَيدِنَا عُمَرَ بْنِ قُلتيْنِ الْقَادِرِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى الشيخِ عَبدِ اللهِ بْنِ أَحْمَدَ الْقَادِرِي</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">رضي الله عنه  </td>
            <td style="font-size: 30px">وَإِلَى الشيخِ مُحَمدٍ بْنِ نَاصِرِ بْنِ عَبْدِ اللهِ الْقَادِرِي</td>
           
          </tr>
          
        <tbody>
      <table> 
 </div>    
    <div>    
     <h2 style="text-align:center;font-size:30px"><b>وَإِلَى سَآئِرِ الشيُوْخِ الْقَادِرِيةِ وَالشيُوْخِ فيْ كُل طَرِيْقٍ سَلَكَ إِلَى اللهِ تَعَالَى رِضْوَانُ اللهِ تَعَالَى عَنْهُمْ أَجْمَعِيْنَ</b></h2>   
     <h1 style="text-align:center;font-size:50px"><b>الْفَاتِحَة</b></h1>
     <h1 style="text-align: center"><b>الدعَآء</b></h1>   
     <h2 style="text-align:center">بِسْمِ اللهِ الرحْمٰ نِ الرحِيْمِ، أَلْحَمْدُ لِلٰهِ رَ ب الْعَالَمِيْنَ وَالصلاَةُ وَالسلاَمُ عَلَى رَسُوْلِ اللهِ صَلى اللهُ عَلَىه وسلم 
      ، اللّهُم أَوْصِلِ ثوَابَ هٰذِهِ الْفَا تِحَةَ إِلَيْهِمْ لِتَكُوْنَ فِدَآءً لهُمْ مِنَ النارِ، وَمِنْ عَذَابِ الْقَبْرِ، وَمِنْ أَهْوَالِ يَوْمِ 
      الْقِيَامَةِ . اللّهُم انْفَعْنَا بِهِمْ واجْعَلْنَا خَيْ رَيْ الدنْيَا وَالآخِرَةِ بِبَرَكَاتِهِمْ وَعُلُوْمِهِمْ وَأَسْرَارِهِمْ وَكَرَامَاتِهِمْ 
       يَا رَب الْعَالَمِيْنَ . اللّهُم اغْفِرْ لَنَا ذُنُوْبَنَا وَوَالِدِيْنَا وَمَشَآئِخِنَا وَمُعَلمِيْنَا، وَجَمِيْعِ الْمُؤْمِنِيْنَ وَالْمُؤْمِنَاتِ،  وَالْمُسْلِمِيْنَ وَالْمُسْلِمَاتِ، الأَحْيَآءِ مِنْ هُمْ وَالأَمْوَاتِ، بِرَحْمَتِكَ يَاأَرْحَمَ الراحِمِيْنَ . رَبنَا آتِنَا فِيْ الدنْيَا حَسَنَةً  وَفِىْ الآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النارِ وَأَدْخِلْنَا الْجَنةَ مَعَ الأَبْرَارِ يَاعَزِيْزُ يَا غَفارُ يَا رَب الْعَالَمِيْنَ . 
      رَبنَا تَقَبلْ مِنا إِنكَ أَنْتَ السمِيعُ الْعَلِيْمُ ، وَتُبْ عَلَيْنَا يَامَوْلاَنَا إِنكَ أَنْتَ التوابُ الرحِيْمُ، بِرَحْمَتِكَ يَاأَرْحَمَ 
      الراحِمِيْنَ . وَصَلى اللهُ عَلَى سَيدِنَا مُحَمدٍ النبِي الأُمي وَعَلَى آلِهِ وَأَصْحَابِهِ وَسَلمَ<h2>   

    </div>    

</div>

{% endblock content %}