{% extends 'base.html' %}

{% block content %}


</div class="container-fluid padding-80" >
<div class="row">
  <div class="col-sm-4">
    <div>
      <img src="/static/images/shekh_mohd2.jpeg" alt="" width="300px" height="500px">
    </div> <br><br>  
    <div>
      <img src="/static/images/sayed_othman.jpeg" alt="" width="300px" height="300px">
    </div> 
  </div>

  <div class="col-sm-8">
  <div class="container-fluid">
    
        <h1 style="text-align:center; font-size: 100px">إلهي الرحم على الشيخ محمد ناصر ولي الله</h1>
        
            
            </div>
          </div>

      
</div>
</div>


{% endblock content %}   