{% extends 'base.html' %}

{% block content %}
 



    <div class="container-fluid ">
      <h1 style="text-align: center"><b>يقُْرَأُ   التوَسُلِ   بالأَنْبِيَاءِ   وَالمُرْسَلِيْنَ   وَالْلأَوْلِيَاء   وَالشهَدَاءِ   وَالصالِحِيْنَ</b></h1>
       <h2 style="text-align: center">هٰذِهِ ا لْقَصِيْدَةُ، تَأْلِيْفُ الْوَِلي الْمُكَرمِ، وَالسالِكِ الْمُسَلكِ وَالقُطْبِ الزاهِدِ الشيْخِ حَاجِ أُوَيْسِ بْنِ مُحَمدٍ الْقَادِ رِيّ الْبَرَا وِي غَفَرَ اللهُ لَهُ وَلِوَالِدَيْهِ وَأَحِبائِهِ  وهِي التوَسلُ بِالأَنْبِيَآءِ وَالْمُرْسَلِيْنَ وَالأَوْلِيَآءِ وَالشهَدَآءِ وَالصالحِِيْنَ، فَلَهَا سِر عَظِيْمٌ نَالَهُ مَنْ دَاوَمَ عَلَى قِ رَائَتِهَا فِيْ كُل صُبْحٍ , وَقَدْ قِيْلَ إِن الشيْخَ أُوَيْسَ أَوْصَى بِقِرَائَتِهَا فِيْ كُل صُبْحٍ، وَقَالَ مَنْ تَرَكَ قِرَائَتَهَا فِيْ الأَوْقَاتِ الْمَذْكُوْرَاتِ لَيْسَ مِنْ خُلَفَا ئِيْ</h2>       
      <h2 style="text-align: right">نفََعَنَا اللهُ  بها وَبِمَنْ فِيْهَا - آمِيْنَ . وَهِيَ هٰذِه</h2>
       <table class="table table-striped">
        <thead>
          <tr>
            <th style="font-size: 40px">يَامَنْ  يَرَى  وَلاَ  يُرَى  إِلا  هُوَ</th>
            <th style="font-size: 40px">أَللٰه  أَللٰهُ  إ لهُ  الْخَلْقِ  يَاأَللٰه</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 30px"> الْقُرْبَ  وَالوِصَالَ  وَالنوَالَ </td>
            <td style="font-size: 30px">أَسْأَلُكَ  اللٰهُم  ذَالْجَلاَلِ</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">شَهِدْ نَا بِالْجَمَالِ  وَالْكَمَالِ</td>
            <td style="font-size: 30px">وَبِالْكَشْفِ  الْعَيَانِ  وَالْأ ذَانِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  حُسْنِ  الْخِتَامِ  يَا مَوَالِى</td>
            <td style="font-size: 30px">وَبِالْعِز  الْمَشْهُوْرِ  بِالْأ  مَانِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَمَنْ  شَق  الْبُدُوْرَ  ذَاالْبُرْهَانِ</td>
            <td style="font-size: 30px">بِمُظْهِرِ  الْبَيَانِ  الْمُعْجِزَاتِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَمَجْمَعِ  الْمَعَارِفِ  الربانِيةِ</td>
            <td style="font-size: 30px">وَأَكْمَلِ  الْخَلِيْقَةِ  اْلإِ نْسَانِيةِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَمَعْدِنُ  السلوْكِ   وَالْأ  مَانِيةِ</td>
            <td style="font-size: 30px">سِر الْوُجُوْدِ   مَنْبَعِ  الْعُلوْمِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">إِلَى أَدْنٰى فيْ حَضْرَةِ الرحْمٰنِ</td>
            <td style="font-size: 30px">رُوْحُ  التجَليْ  فَوْقَ الْمُمْسِكَاتِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالْكُرْسِي  رَآه  بِالْعَيَانِ</td>
            <td style="font-size: 30px">الْعَرْشَ  وَالْأ رْكَانَ  وَالْحِجَابَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالْحَوْضِ  وَاللوَاءِ  وَالْقُرْآنِ</td>
            <td style="font-size: 30px">مُحمدٌ  الْمَخْصُوْصِ  بِالْمَثَا نِيْ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">صَلوْا  عَلٰى  نَبِينَا  مُحَمدٍ</td>
            <td style="font-size: 30px">صَلى  عَلَيهِ  رَبنَا  وَسَلمَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَاشَاعَتِ  الربِيْعُ   بِالْمَوَا لِدَ ةِ</td>
            <td style="font-size: 30px">وَآ لِهِ    وَصَحْبِهِ   جَمِيعًا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَمَعْ دِنِ   النبُوةِ   وَالرسَا لَهْ</td>
            <td style="font-size: 30px">تَوَ سلْنَا   بِصَاحِب  الْوَسِيلة</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">أَ بِيْ بَكْرٍ  نِ الصديْقِ   مُسْلمًا</td>
            <td style="font-size: 30px">وَبِالْعَتِيقِ  الوَاثِقِ   الْأ مِيْنِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">الذِ يْ   جَلاَبِهِ  الإِسْلاَمُ  أَولا</td>
            <td style="font-size: 30px">وَبِأَمِيْرِ  الْمُؤْمِنِينَ  عمَرَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">شَهِيدِ  الدارِ  جَامِعِ  الْقُرْآنِ</td>
            <td style="font-size: 30px">بِنُوْرِ اللهِ   سَيِدِنَا  عُثْمَانِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">بَابِ  الْعُلوْمِ   لَيْثِ  ذِ يْ الْفُرْسَانِ</td>
            <td style="font-size: 30px">بِسَيْفِ  اللهِ  سَيدِنَا  عَلي</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">هُمَا الشيُوْخُ   لِلْإِ سْلاَمِ   وَالْهُدَى</td>
            <td style="font-size: 30px">وَبِعَميْ   نَبِينَا   مُحَمدٍ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">كُل الْعُلوْمِ   وَالْكُرُوْمِ   وَالوَفَا</td>
            <td style="font-size: 30px">الْحَمْزَةَ   ثُم الْعَباسِ  مَنْ حَوَى</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">نَجْلِ  الإِمَامِ   الْفَاضِلَيْنِ  الأُمَرا</td>
            <td style="font-size: 30px">وَبِالْحَسَنِ  ثُم  الْحُسَيْنِ   فُضلا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالسعْدِ   وَالسعِيْدِ   جَامِعِ التقَى</td>
            <td style="font-size: 30px">بِطَلْحَةِ   الْكَرِيْمِ   وَالزبَيْرِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ عَبدِ  الرحْمٰنِ  ابْنِ  عَوْفِنَا</td>
            <td style="font-size: 30px">وَبِعُبَيدَةَ   ابْنِ  الجَراحِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  التبَاعِ   التابِعِيْنَ   مَنْهَجَا</td>
            <td style="font-size: 30px">بِأَنَسٍ  كَذَا  أَ بِيْ  هُرَ يْرَةَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَنِ الدعَا   حِمَاه   مُسْتَجَا بَة</td>
            <td style="font-size: 30px">بِالشاهِرِ أَبِيْ  ذَر  الْغفارِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَسَاكِنِ  الْمَدِيْنَةِ   الْمُنَورَهْ</td>
            <td style="font-size: 30px">وَبِأَهْلِ   الشبَيْكِ   وَالْمَقَامِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">بلَدُ  الْأ مِيْنِ  بَيْتُ اللهِ  ذِى الْعُلا</td>
            <td style="font-size: 30px">وَبِأُم  الْقُرَى   فتِلْكَ   مَكة</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالْخَزْرَجِي   وَالْأ حْبَابِ  كَافهْ</td>
            <td style="font-size: 30px">وَبِالْأ نْصَارِ  وَالْمُهَا  جِرِيْنَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَذِيْ الْبَقِيعِ   وَالْأ حُدِ  وَالْقُبَا</td>
            <td style="font-size: 30px">وَبِأَهْلِ   الْبُدُوْرِ   وَالحُنَينِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَآدَمَ   وَ يُوْسُفَ   وَيُوْنُسَ</td>
            <td style="font-size: 30px">بِالْأ نْبِيَا   وَالْمُرْسَلِيْنَ   جَمة</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَرُوْحِ اللهِ  عِيسَى  ابْنِ  مَريَمَ</td>
            <td style="font-size: 30px">وَبِالْكَلِيْمِ   وَالْخَلِيْلِ   مُوْصِلا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَنُوْحٍ   وَأَيوْبَ   مَعَ  زَكَرِيا</td>
            <td style="font-size: 30px">تَوَسلْنَا   بِحُرْمَةِ   إِسْحَاقَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَهَارُوْنَ  وَيَحْيى  ثم  أَرْمِيَا</td>
            <td style="font-size: 30px">بِدَوْدَ  مَعَ  سَلَيمَانَ  كَذَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  إِلْيَاسِ  الْفَاضِلِ  كَمَا أَثَرْ</td>
            <td style="font-size: 30px">وَبِالْخِضْرِ  أَبِى  الْعَباسِ  أَولا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">ذِىْ  الْمَذْهَبِ  الْإِ سْلاَمِ  أَئِمتِنَا</td>
            <td style="font-size: 30px">بِالراسِخِيْنَ  الشاهِرِيْنَ  بِالثنَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالشافعِي  ابْنِ  إِدْرِيْسَ  مُحَمدٍ</td>
            <td style="font-size: 30px">أَو لُهُمْ   نُعْمَانُ  إِبْنُ  ثَابِتٍ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالْأ وْلِيَا   وَالْأ تْقِيَا   وَالْفُضلا</td>
            <td style="font-size: 30px">بِالحَنْبَليْ   وَبِالْإِ مَامِ  مَالِكٍ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">قُطْبِ  الْأ قطَابِ  هَيْكَلِ  الْأ نْوَارِ</td>
            <td style="font-size: 30px">بِنَآئِبِ  الرسُوْلِ  عَبدُ الْقَادِرِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَأَحْمَدَ  الْبَدَ وِي   نُوْرِ الهُدَى</td>
            <td style="font-size: 30px">بِأَحمَدَ   الرفَاعِي   الْكَبِ يرِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">كَأْسَاتٍ   لِلْهَنَا مِنَ  الوِدَادِ</td>
            <td style="font-size: 30px">وَبِالدسُوْقِى  الساقِيْ   لِلْمُرِيْدِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">يَلِى الْبَصَرِي   مَعَ الشبْلي  كَذَا</td>
            <td style="font-size: 30px">وَبِالْحَبِيْبِ  الْعَجَمي  وَالْحَسَنْ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَبِالْمَعْرُوْفِ  الْكَرْخِي  مُرَادِنَا</td>
            <td style="font-size: 30px">وَبِسِر   السقْطِي    وَالجُنَيدِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مُبَارَكِ   الْمَخْزُوْمِي   الْمُكَملِ</td>
            <td style="font-size: 30px">بِالشيخِ   شَيخِنَا  أَبِىْ  سَعِيدٍ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">سَهْرَ  وِرْدِي  الْمَشْهُوْرِ  أَولا</td>
            <td style="font-size: 30px">بِالنقْشَبَندِي   وَذَاكَ  عُمَرَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">هُوَ  مُحَمدٌ   ابْنُ   مُحَمدٍ</td>
            <td style="font-size: 30px">وَبِالْإِ مَامِ   حُجةِ   الْإِ سْلاَمِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَقُطْبِ  الْغَوْثِ  الْفَرْدِ  مَعَ  الوُتَدَا</td>
            <td style="font-size: 30px">بِخَلْوَتِيْ   مَعَ  الْبُيُوْمِ  هٰكَذَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالْعَشَرَا  وَالْعُرَفَا  وَالْأ نْوَارَا</td>
            <td style="font-size: 30px">بِالنقَبَا  وَالنجَبَا   وَالْبُدَلا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَصَاحِبِ   الروَاتِبِ   الحَدادِ</td>
            <td style="font-size: 30px">بِأَدْهَمِيْ  مَعَ  أُوَيْسِ  الْقَرَنِيْ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالصا دِرِيْنَ  عَنْهُ  وَالْأ مْجَادِ</td>
            <td style="font-size: 30px">بِسَيدِيْ  أَبِيْ  عَلوِى  الْحَدادِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَنْ  ذِكْرُهُ  شِفَاء  لِلْمُوَحدِيْنَ</td>
            <td style="font-size: 30px">بِسَيدِى  الْإِ مَامِ  الشاذِ لِي</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَشَيْخِنَا  يَعْقُوْبَ  ابْنِ  يُوْسُفَ</td>
            <td style="font-size: 30px">وَبِالْإِ مامِ   الْقُطْبِ  الْعَيدَرُوْسِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  أَحْمَدَ  ابْنِ  عَلْوَانِ</td>
            <td style="font-size: 30px">بِالْحَضْرَمِي   مُظْهِرِ  الْبَيَانِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">قُطْبٍ  شَهِيْرٍ  عَالِيِ الْمقَامِ</td>
            <td style="font-size: 30px">بِأَحمَدَ  ابنِ  إِدْرِيْسَ  شَيْخِنَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَبِالحُسَيْني  ابْنِ  مَلْكَايَ</td>
            <td style="font-size: 30px">بِالْمَرْغَنِيْ  وَيُوْسُفَ  الْأ كْوَانِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  شَيْخِنَا  إِسْمَاعِيْلَ  الْمُرَادِ</td>
            <td style="font-size: 30px">بِالزيْلَعِى   وَبَادِرِ  الْمَشْهُوْرِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَشَيْخِ  مَكةَ  قُطبِ  الْمُبَارَكَه</td>
            <td style="font-size: 30px">بِالشيْخِ  عُثْمَانَ  الْمَرَكِي  الْمُكَملِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَسِر سِر شَيخِ  مُرَادِ  غوْثِنَا</td>
            <td style="font-size: 30px">بِالشيْخِ  عُثْمَانَ  ابْنِ  فَقِيْهِ عُمَرَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  الشرِيْفِ  عَلِى  النضِيْرِ  قطْبَا</td>
            <td style="font-size: 30px">بِالشيْخِ  الْبِيدَ عَلي  الْبَرَا وِي</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ  عَبدِ  الْعَزِيْزِ  فِيْنَا  مُشْتَهَرْ</td>
            <td style="font-size: 30px">بِالشيْخِ  أَبِيْ  الْحَسَنِ  قُطْبِ  الْجَلي</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَ لِي اللهِ   ذُوا الْجَلاَلِ  مَنْ عَلا</td>
            <td style="font-size: 30px">بِالشيْخِ  مُؤْمِنِ  بُدُوْرِ  الْأ وْ لِيَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">هُوَ أَحْمَدُ  ابْنُ  حَاجِ  نُوْرُ جَهْبَذَا</td>
            <td style="font-size: 30px">بِشَيْخِنَا  الْمَعْ رُوْفِ   بِالْكَرَامَهْ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">أُسْتَاذنَا  أُوَيسُ  ابْنِ  مُحَمدٍ</td>
            <td style="font-size: 30px">بِصَاحِبِ  الْمَقَامِ  ذَيْ الْمُرَادِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَ لِي  اللهِ  صَاحِبُ  الْأ سْرَار</td>
            <td style="font-size: 30px">بِأَحْمَدَ  الْمَشْهُوْرِ  بِالْجَنَايَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">ذِيْ  الْمَنْطِقِ  الْمَلِيحِ  وَالْمَعَا نِيَةْ</td>
            <td style="font-size: 30px">بِحَاجِ  صُوْفى  عَا لِمِ  الْعَلامَةْ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">قُطْ ب  الرباني  الْمَشْهُوْرِفيْ الْقُرَى</td>
            <td style="font-size: 30px">بِشَيْخِنَا  أَبيْ  بَكَرِ  مِحْضَارِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">هُوَ الْوَلِي   قَيمُ  الْكَرَامَهْ</td>
            <td style="font-size: 30px">وَبِالشرِيْفِ  عَبْدِ اللهِ  الْحَدادِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">سَيدِنَا  السلْمَانِ  وَالسمَانِ</td>
            <td style="font-size: 30px">بِالْمُصْطَفَى  النقِيْبِ  وَالنجِيْبِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">مَعَ عَبْدِ الْجَبارِ صَاحِبُ  الْقُبَا</td>
            <td style="font-size: 30px">بِسَيدِيْ  عَبدِ الْعَزِيْزِ  شَيْخِنَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَسَاكِنِ  الْعِرَاقِ  وَالْيَمَا نِيَةِ</td>
            <td style="font-size: 30px">بِأَهْلِ  نَوْ بَةٍ  مَعَ  الْجِهَاتِ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالشيْخِ  سُلَيمَانَ  الْعَلَوِي  الْهُدَى</td>
            <td style="font-size: 30px">وَبِالشرِيْفِ  قلتَينِ  عُمَرَ</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">وَالشيخِ  مُحَمدِ  نَاصِرْ شَمْسِ  الْأ تْقِيَا</td>
            <td style="font-size: 30px">بِالشيخِ  عَبْدِ اللهِ عُمْدَ  الْأ وْ لِيَا</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">يَسرْ لَنَا  كُل عَسِيْرٍ عِندَنَا</td>
            <td style="font-size: 30px">يَا رَبنَا  اغْفِرْ لَنَا  فِيْ مَا مَضَى</td>
            
          </tr>
          <tr>
            <td style="font-size: 30px">أَيَا  مَوْلاَنَا  لاَ تَقْطَعْ  رَجَانَا</td>
            <td style="font-size: 30px">بِهِمْ  وَغَيْرِهِمْ  مِنْ  خَلْقِكَ  الْكِرَامِ</td>
            
          </tr>
        </tbody>
      </table>
    
    

     <br>
      <h1 style="text-align: center"><b>الدعَآء</b></h1>
              
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="font-size: 40px">نِعْمَ  الْإ لهُ  رَبنَا  أَللّٰه</th>
            <th style="font-size: 40px">أَللٰه  أَللٰهُ  إ لهُ  الْخَلْقِ  يَاأَللٰه</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 30px"> نِهَايَةَ  الْخِتَامِ   بِالشهَادَةِ</td>
            <td style="font-size: 30px">أَسْأَلُكَ  بِنَا  يَا ذَا الْجَلاَلِ</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px"> بِبَرْدِ  الْعَيْشِ  جَذْبَةً  وَمَنزِلا</td>
            <td style="font-size: 30px">وَأَحْيِنَا  حَيَاةً دَا ئِمَ  الْعَفَا</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">حَتى  نَلْقَاكَ  أَنْتَرَا ضِيَاعَنا </td>
            <td style="font-size: 30px">وَأَسْقِنَا  شَرابًا  مِنْكَ لَذ ةً</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">شُهُوْدَكَ  الْجَمَالَ  وَالْكَمَالَ </td>
            <td style="font-size: 30px">وَأَرِنَا  فِىْ  قَبْضَةِ  الْحَقَائِقِ</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">حَتى  نَفْنٰى لَكَ  بِخَمْرَةِ  الْهَنَا </td>
            <td style="font-size: 30px">وَاجْمَعْ  شُمُوْلَنَا  إِلَيكَ  فِىْ الْبَقَا</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">وَكُل  الْأ وْلِيَا  لَدَيْكَ  دَانِيَةِ </td>
            <td style="font-size: 30px">وَاجْعَلْ  مَقَا مَنَا لَدَيْكَ وَاقفًا</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px"> مَبْسُوْطَة  بِطِيْبِ  الْوَصْلِ طَاعَة</td>
            <td style="font-size: 30px">فَامْنُنْ عَلَيْنَا  تَوْبَةً  نَصُوْحَة</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">بِرَحْمَةِ  الْأ نَامِ  لاَتُقَا عَنا </td>
            <td style="font-size: 30px">وَصُب  عَلَيْنَا  رَحْمَةً  وَرَأْفَة</td>
           
          </tr>
        <tbody>
      <table> 


        <br>
      <h1 style="text-align: center"><b>الدعَآء</b></h1>
              
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="font-size: 40px">أَجِبْ  دُعَائَنَا  بِجَاهِ  أَحْمَدَ</th>
            <th style="font-size: 40px">أَللٰه  أَللٰهُ  إ لهُ  الْخَلْقِ  يَاأَللٰه</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td style="font-size: 30px"> بِلاَ  رَد  وَلاَ ضِد  وَلاَ جَفَا</td>
            <td style="font-size: 30px">أَجِبْ  دُعَآ ئَنَا  يَا مُسْتَجِيْبًا</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">بِهٰذِهِ  الْوَسَائِلِ  الْمُمَجدَهْ </td>
            <td style="font-size: 30px">يَارَبنَا   يَارَبنَا  اغْفِرْ لَنَا</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">بِخَيْرِ  تَوْبَةٍ  وَزِلْ عَنهُ هَيَا </td>
            <td style="font-size: 30px">وَ تُبْ  عَنيْ  الْغي  إِذَا  أَتَاكَمَا</td>
           
          </tr>
        <tbody>
      <table> 



      
        <br>
      <h1 style="text-align: center"><b>الدعَآء الخِتَامِي</b></h1>
              
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="font-size: 40px">سَهلْ  مُرَا دَنَا بِجَاهِ  أَحْمَدَ</th>
            <th style="font-size: 40px">أَللٰه  أَللٰهُ  إ لهُ  الْخَلْقِ  يَاأَللٰه</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td style="font-size: 30px">سَهلْ  أُمُوْرَنَا  وَاكْشِفْ  كُرُوْبَنَا </td>
            <td style="font-size: 30px">بِالْمُصْطفَى  يَا ذَاالْجَلاَلِ  يَاأَلله</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px">فيْ حَضْرَةِ   الربا نِيْ  مِنْ شُهُوْدِكَ </td>
            <td style="font-size: 30px">وَقَربْنَا  إِلَيكَ  قُرْبَةً لَنَا</td>
           
          </tr>
          <tr>
            <td style="font-size: 30px"> يَاذَا الْفَضْلِ  الْعَظِيْمِ  يَامَوْلَى لَنَا</td>
            <td style="font-size: 30px">وَاجْعَلْ  مَقَامَنَا  فِرْدَوْسَ  نُزُلا</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">سَيدِنَا  مُحَمدٍ  وَأَحْمَدَا </td>
            <td style="font-size: 30px">صَلى  عَليْهِ  رَبنَا  وَسَلمَا</td>
           
          </tr>
           <tr>
            <td style="font-size: 30px">صَلاَةُ  اللهِ  تُرْحَمُ  ضُيُوْفَنَا </td>
            <td style="font-size: 30px">وَآ لِهِ  وَصَحْبِهِ  جَمِيْعًا</td>
           
          </tr>
        <tbody>
      <table>   
        <h1 style="text-align: center"><b>الخَاتِمَة</b></h1>
    </div>         
    
    
  {% endblock content %}  