<html>
<head>
<style>
#foot {
   margin: 0;
   padding: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 350px;
   background-color: red;
   color: white;
   
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


</style>
</head>
<body>

  <div class="container-fluid my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: red">
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color:maroon">
        <div class="me-5" >
          <span>Ungana nasi pia katika mitandao ya kijamii:</span>
        </div>
        <div>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
          
        </div>
      </section>
      <section class="" >
        <div id="foot" class="container-fluid text-center text-md-start mt-0" >
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Nembo ya twariqa</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
        
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="padding:20px">
              <h6 class="text-uppercase fw-bold">Vichwa vya habari</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                  <a href="#!" class="text-white">Uongozi </a>
              </p>   
              <p>
                <a href="#!" class="text-white">Historia ya Twariqa</a>
              </p>
              <p>
                <a href="#!" class="text-white">Tawasuli kubwa </a>
              </p>
              <p>
                <a href="#!" class="text-white">Vitabu </a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Vichwa vya habari</h6>
              <hr  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-white">Matangazo mapya</a>
              </p>
              <p>
                <a href="#!" class="text-white">Ratiba za hadhara</a>
              </p>
              <p>
                <a href="#!" class="text-white">Silesile</a>
              </p>
              <p>
                <a href="#!" class="text-white">Mpya</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold">Mawasiliano</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> P.O.BOX 16430 DAR ES SALAAM,TANZANIA</p>
              <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fas fa-phone mr-3"></i> +255 000 000 000</p>
              <p><i class="fas fa-print mr-3"></i> +255 000 000 000</p>
              <p><i class="fas fa-print mr-3"></i> +255 000 000 000</p>
              <p><i class="fas fa-print mr-3"></i> +255 000 000 000</p>
            </div>
          </div>
        </div>
      </section>
      <div
           class="text-center p-3"
           style="background-color: red"
           >
        © 2023 Copyright:
        <a class="text-dark" href=""
           >jumuiya zawiyatul qadiriya-Tanzania</a
          >
      </div>
    </footer>
  </div>
  <!-- End of .container -->
</div>  


</body>
</html> 
